
@switch (type) {
  <!-- Primary button -->
  @case ('primary') {
    <button
      mat-raised-button
      [color]="getColor()"
      [disabled]="disabled"
      (click)="action.emit()"
      class="custom-button btn-primary">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ label }}
    </button>
  }
  <!-- Secondary button -->
  @case ('secondary') {
    <button
      mat-button
      [color]="getColor()"
      [disabled]="disabled"
      (click)="action.emit()"
      class="custom-button btn-secondary">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ label }}
    </button>
  }
  <!-- Tertiary button -->
  @case ('tertiary') {
    <button
      mat-stroked-button
      [color]="getColor()"
      [disabled]="disabled"
      (click)="action.emit()"
      class="custom-button btn-tertiary">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ label }}
    </button>
  }
  <!-- Success button -->
  @case ('success') {
    <button
      mat-flat-button
      [color]="getColor()"
      [disabled]="disabled"
      (click)="action.emit()"
      class="custom-button btn-success">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ label }}
    </button>
  }
  <!-- Warning button -->
  @case ('warning') {
    <button
      mat-raised-button
      [color]="getColor()"
      [disabled]="disabled"
      (click)="action.emit()"
      class="custom-button btn-warning">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ label }}
    </button>
  }
}
