<h2>Forgot Password</h2>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgotPassword-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>User email</mat-label>
    <input matInput type="email" formControlName="usermail" required />
    <mat-error *ngIf="forgotPasswordForm.get('usermail')?.errors?.['required']">
      <small>User email is required.</small>
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('usermail')?.errors?.['email']">
      <small>Enter a valid email address.</small>
    </mat-error>
  </mat-form-field>
</form>
<div class="button-group">
  <button mat-raised-button color="primary" type="submit">Reset Password</button>
</div>
