<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>User email</mat-label>
    <input matInput type="email" formControlName="usermail" required />
    @if (loginForm.get('usermail')?.errors?.['required']) {
      <mat-error>
        <small>User email is required.</small>
      </mat-error>
    }
    @if (loginForm.get('usermail')?.errors?.['email']) {
      <mat-error>
        <small>Enter a valid email address.</small>
      </mat-error>
    }
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
    @if (loginForm.get('password')?.errors?.['required']) {
      <mat-error>
        <small>Password is required.</small>
      </mat-error>
    }
    @if (loginForm.get('password')?.errors?.['minlength']) {
      <mat-error>
        <small>Enter atleast 8 characters.</small>
      </mat-error>
    }
  </mat-form-field>
</form>

<div class="button-group">
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [routerLink]="['/home']">Login</button>
  <br>

    <small>Forgot Password?
      <button mat-button color="primary" type="button" [routerLink]="['/forgot-password']">Reset here</button>
    </small>

    <small>Not a member?
      <button mat-button color="primary" type="button" [routerLink]="['/register']">Register here</button>
    </small>
  </div>
