<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" required />
    @if (registerForm.get('username')?.errors?.['required']) {
      <mat-error>
        Username is required.
      </mat-error>
    }
    @if (registerForm.get('username')?.errors?.['minlength']) {
      <mat-error>
        Username must be at least 6 characters long.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
    @if (registerForm.get('password')?.errors?.['required']) {
      <mat-error>
        Password is required.
      </mat-error>
    }
    @if (registerForm.get('password')?.errors?.['minlength']) {
      <mat-error>
        Password must be at least 8 characters long.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" required />
    @if (registerForm.get('confirmPassword')?.errors?.['required']) {
      <mat-error>
        Confirmation required.
      </mat-error>
    }
    @if (registerForm.get('confirmPassword')?.errors?.['minlength']) {
      <mat-error>
        Password must be at least 8 characters long.
      </mat-error>
    }
    @if (
      registerForm.getError('passwordMismatch') &&
      registerForm.get('confirmPassword')?.touched
      ) {
      <mat-error
        >
        Passwords do not match.
      </mat-error>
    }
  </mat-form-field>
</form>

<div class="button-group">
  <button mat-button class="get-started-btn" type="submit">Register</button>
  <br />

  <small
    >Already have an account?
    <button mat-button class="get-started-btn" type="button" [routerLink]="['/login']">Login here</button>
  </small>
</div>
